<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
  <div class="container">
    <div class="title">product</div>
    <div class="content">
      <form action="{% url 'editpdata' Data.id %}" method="post">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">product name</span>
            <input type="text" placeholder="Enter product name"     name="ppname" value="{{Data.ppname}}" required>
          </div>
          <div class="input-box">
            <span class="details">product id</span>
            <input type="text" placeholder="Enter product id"  name="pid"   value="{{Data.pid}}" required>
          </div>
          <div class="input-box">
            <span class="details">category</span>
            <input type="text" placeholder="Enter product category"      name="pcat" value="{{Data.pcat}}" required>
      
        </div>
        <div class="input-box">
          <span class="details">price</span>
          <input type="text" placeholder="Enter product price"  name="pprice"   value="{{Data.pprice}}" required>
    
      </div>
        <!-- <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div> -->
        </div>
        <div >
          <input type="submit"   class="btn" value="Update">
        </div>
      </form>
    </div>
  </div>
</body>
</html>