<html>
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
   
</head>
<body>
    <center>
        <h3>EDIT FORM</h3>
 
        <div class="form">
            <form action="{% url 'editdata' Data.id %}"  method="post">

                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="name">name:</label>
                        <input class="form-control" type="text" id="name" name="name" value="{{Data.name}}">
                    </div>
                    <div class="col">
                        <label for="pass">parent</label>  
                            <input class="form-control" type="text" id="parent" name="parent"     value="{{Data.parent}}">   
                    </div>
                    
                    <div class="col">
                        <label for="contact">contact</label>
                        <input class="form-control" type="nu" id="contact" name="contact"    value="{{Data.contact}}">
                    </div>
                    <div class="col">
                        <label for="email"> pincode:</label>
                        <input class="form-control" type="number" id="pin" name="pincode"    value="{{Data.pincode}}">
                    </div>
                    <div class="col">
                        <label for="email"> Email:</label>
                        <input class="form-control" type="email" id="email" name="email"      value="{{Data.email}}">
                    </div>
                    
                    <div class="col">
                        <label for="pass">adress:</label>  
                            <input class="form-control" type="text" id="adress" name="adress"    value="{{Data.adress}}">   
                    </div>

                    <div class="col">
                    </div>
                </div>
                <button class="btn" type="submit">ADD</button>
            </form>
        </div>
</body>
</html>